{% extends 'base.html.twig' %}


{% block body %}

    <h1>Coucou</h1>
    <a href="{{path('serie_em-demo')}}">liens vers creation demo</a>
{% endblock %}

{% block title %}{{ parent() }} | Home{% endblock %}
